**Python Introduction**
  * Variables & Values
  * Data Types
  * Operators
  * Conditional Programming
  * Loop - for / while
  * Functions

In [ ]:
name = "Bipul"
age = 44
salary = 65.8

In [ ]:
print(name)
print("Name of Data Science Instructor", name)

Bipul
Name of Data Science Instructor Bipul

In [ ]:
print(name , type(name))
print(age , type(age))
print(salary , type(salary))

Bipul <class 'str'>
44 <class 'int'>
65.8 <class 'float'>

In [ ]:
cities = ["Delhi" , "Mumbai" , "Chennai" , "Kolkata" , "Hyderabad"]
print(cities)
print(type(cities))

['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Hyderabad']
<class 'list'>

In [ ]:
print(cities[0])
print(cities[1])
print(cities[2])

Delhi
Mumbai
Chennai

In [ ]:
cities[2] = "Mysore"
print(cities)

['Delhi', 'Mumbai', 'Mysore', 'Kolkata', 'Hyderabad']

* List is mutable data structure or data type of Python
* Tuple is immutable data structure or data type of Python

In [ ]:
employees = ("Bipul" , "Mohan" , "Ramesh" , "Ajay" , "Sanjay")
print(employees)
print(type(employees))

('Bipul', 'Mohan', 'Ramesh', 'Ajay', 'Sanjay')
<class 'tuple'>

In [ ]:
print(employees[0])
print(employees[1])
print(employees[2])

Bipul
Mohan
Ramesh

In [ ]:
employees[2] = "Suresh"

TypeError: 'tuple' object does not support item assignment

In [ ]:
student_detail = {"name" : "Tom" ,
                  "marks" : 45,
                  "email" : "tom@jerry.com"}
print(student_detail)
print(type(student_detail))

{'name': 'Tom', 'marks': 45, 'email': 'tom@jerry.com'}
<class 'dict'>

In [ ]:
print(student_detail.keys())
print()
print(student_detail.values())

dict_keys(['name', 'marks', 'email'])

dict_values(['Tom', 45, 'tom@jerry.com'])

In [ ]:
print(student_detail["name"])

Tom

In [ ]:
student_detail["marks"] = 47
print(student_detail)

{'name': 'Tom', 'marks': 47, 'email': 'tom@jerry.com'}

In [ ]:
status = True
print(status)
print(type(status))

True
<class 'bool'>

* string
* int
* float
* list
* tuple
* dictionary
* boolean

**Operators**

In [ ]:
#Arthmetic Operators

a = 17
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)     #integer
print(a % b)       #remainder
print(a ** b)      #exponential

22
12
85
3.4
3
2
1419857

In [ ]:
#Comparasion Operators

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

In [ ]:
#Logical operator

age = 32

print(age > 18 and age < 60)       #True and True => True

True

In [ ]:
age = 65

print(age > 18 and age < 60)       #True and False => False

False

In [ ]:
age = 12

print(age > 18 and age < 60)       #False and True => False

False

In [ ]:
age = 18

print(age > 18 and age > 60)       #False and False => False

False

In [ ]:
age = 32

print(age > 18 or age < 60)       #True or True => True

True

In [ ]:
age = 12

print(age > 18 or age < 60)       #False and True => True

True

In [ ]:
age = 12

print(age > 18 or age < 60)       #False and True => True

True

In [ ]:
age = 18

print(age > 18 or age > 60)       #False or False => False

False

In [ ]:
#Membership operator

print(cities)

['Delhi', 'Mumbai', 'Mysore', 'Kolkata', 'Hyderabad']

In [ ]:
print('Mumbai' in cities)
print('Mumbai' not in cities)

True
False

In [ ]:
print('Chennai' in cities)
print('Chennai' not in cities)

False
True

In [ ]:
#conditional Programming

age = float(input("Enter Your age"))        #user input field => string type
print(age)

if age >= 18:
  print("You are eligible to vote")            #it will be triggered if condition under if is true
else:
  print("You are not eligible to vote")        #it will be triggered if condition under if is false

Enter Your age56
56.0
You are eligible to vote

In [ ]:
marks = float(input("Enter Your Marks"))

if(marks >= 90):
   print("You are pass with Distiction")
elif(marks >= 70):
   print("You are pass with Grade A+")
elif(marks >= 60):
   print("You are pass with grade A")
elif(marks >= 50):
   print("You are pass with Grade B")
elif(marks >= 35):
   print("You are Pass")
else:
  print("You are fail")

Enter Your Marks55
You are pass with Grade B