**Loop - for**

In [ ]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in range(5):
  print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [ ]:
cities = ["Delhi" , "Mumbai" , "Chennai" , "Kolkata" , "Hyderabad"]

print(cities[0] , len(cities[0]))
print(cities[1] , len(cities[1]))
print(cities[2] , len(cities[2]))
print(cities[3] , len(cities[3]))
print(cities[4] , len(cities[4]))

Delhi 5
Mumbai 6
Chennai 7
Kolkata 7
Hyderabad 9

In [ ]:
for i in range(0,len(cities)):
  print(cities[i] , len(cities[i]))

Delhi 5
Mumbai 6
Chennai 7
Kolkata 7
Hyderabad 9

In [ ]:
numbers = [5,4,3,7,8,3,2,9,6]

for num in numbers:
  if(num % 2 == 0):
    print(num , "is even")
  else:
    print(num , "is odd")

5 is odd
4 is even
3 is odd
7 is odd
8 is even
3 is odd
2 is even
9 is odd
6 is even

In [ ]:
uname = input("Enter Your User Name")
upass = input("Enter Your Password")

if(uname == "admin" and upass == "password"):
  print("Login Successful")
else:
  print("Login Failed")

Enter Your User Nameadmin
Enter Your Passwordpassword
Login Successful

In [ ]:
for i in range(0,10):
  print(i)
  if i == 6:
    break

0
1
2
3
4
5
6

In [ ]:
for i in range(0,3):
  uname = input("Enter Your User Name")
  upass = input("Enter Your Password")

  if(uname == "admin" and upass == "password"):
    print("Login Successful")
    break
  else:
    print("Login Failed")

Enter Your User Nameadghj
Enter Your Passworddfghj
Login Failed
Enter Your User Nameadmin
Enter Your Passwordpassword
Login Successful

In [ ]:
for i in range(0,10):
  if i == 6:
    continue
  print(i)

0
1
2
3
4
5
7
8
9

**Loop - while**

In [ ]:
i = 0

while i < 5:
  print("Good Evening")
  i = i + 1

Good Evening
Good Evening
Good Evening
Good Evening
Good Evening

In [ ]:
#Create a login activity to givr 3 attempts for login if entered values ar incorrect using while loop

uname = ""
upass = ""

count = 0

while (uname != "admin" or upass != "password"):
  uname = input("Enter Your User Name")
  upass = input("Enter Your Password")
  count = count + 1
  if(count == 3):
    print("No More attenpt left")
    break
else:
  print("Login Successful")

Enter Your User Namesdfgh
Enter Your Passwordghjk
Enter Your User Namehjk
Enter Your Passwordfghj
Enter Your User Namefghjk
Enter Your Passwordghjk
No More attenpt left

**functions - user defined**

* f(x) = x + 5
* f(4) = 9
* f(7) = 12

In [ ]:
def add_five(num):
  print(num + 5)

In [ ]:
add_five(8)
add_five(3)
add_five(9)

13
8
14

In [ ]:
#create a function to print sum of squares of a two numbers given as parameter

def sum_squares(a,b):
  print(a**2 + b**2)

sum_squares(6,4)
sum_squares(3,5)

52
34

In [ ]:
def dosum(x,y):
  return (x + y)

In [ ]:
result = dosum(7,3)

In [ ]:
print(result)

10

In [ ]:
print(result * 5)

50